.logo {
    text-align: center;
    border: 2px black;
    border-style: solid;
}

.about {
    border: 2px black;
    border-style: solid;
    padding: 10px;
    margin-left: 780px;
    margin-top: 10px;
    float: left;
}

.ransom {
    border: 2px black;
    border-style: solid;
    padding: 10px;
    margin-right: 780px;
    margin-top: 10px;
    
}