.logo {
    text-align: center;
    border: 2px black;
    border-style: solid;
}

.about {
    border: 2px black;
    border-style: solid;
    padding: 10px;
    margin-left: 780px;
    margin-top: 10px;
    
}

.ransom {
    border: 2px black;
    border-style: solid;
    padding: 10px;
    margin-right: 780px;
    margin-top: 10px;
}

.list1 {
    list-style-type: none;
}

.charity1 {
    border: 2px black;
    border-style: solid;
    float: left;
    width: 33.33%;
    padding: 5px;
}

.charity2 {
    border: 2px black;
    border-style: solid;
    float: left;
    width: 33.33%;
    padding: 5px;
}

.charity3 {
    border: 2px black;
    border-style: solid;
    float: left;
    width: 33.33%;
    padding: 5px;
}