.logo {
    text-align: center;
    border: 2px black;
    border-style: solid;
}

.about {
    border: 2px black;
    border-style: solid;
    float: left;
    padding: 10px;
    margin: 5px;
    display: flex;

}

.ransom {
    border: 2px black;
    border-style: solid;
    float: right;
    padding: 10px;
    margin: 5px;
    display: flex;
}